.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}
.header__title{
  font-size: 40px;
  color: pink;
}
.input__text-keyboard{
  max-width: 1200px;
  height: 400px;
}
.keyboard{
  border: 2px solid black;
  height: 600px;
}
